/* 
-------------------------------------------------------------------------------------------
Name: 200-vm-template-access-internet-remote - main

Description:  Setup of a single virtual machine in Datacom Cloud FlexCompute
              based on a vApp template with outgoing internet access and incoming remote
              access

Dependencies: Existing Org, VDC, Edge Gateway, Network and VM Template
-------------------------------------------------------------------------------------------
*/

# VMware Cloud Director details and credentials 

vcd_apiurl = "https://vcloud-hlz.datacomcloud.co.nz/api"
vcd_user = "tinkeradmin"
vcd_pass = "***********"
vcd_org = "tinkorg"    
vcd_vdc = "tinkvdc"

# Edge Gateway

network_edge_gateway_name = "tinkeredge1"

# Virtual Machine variables

vm_name = "tinkvm1"
template_catalog = "tinker-catalog"
vm_template = "tink-ubuntu-20"
vm_memory = "2048"
vm_cpus = "1"
vm_network_name = "tinknet1"
vm_ip_allocation_mode = "POOL"
vm_remote_access_port = "22"
vm_remote_access_protocol = "tcp"